<app-contador-component></app-contador-component>
<app-list-items></app-list-items>
<app-form-cadastro></app-form-cadastro>
<app-controle-acesso></app-controle-acesso>
<app-componente-pai class="EXERCICIO 6"></app-componente-pai>

<div class="EXERCICIO 7">
  <app-form-login *ngIf="!autenticado" (login)="fazerLogin($event)"></app-form-login>
  <app-area-logada *ngIf="autenticado" [email]="email" [autenticado]="autenticado"></app-area-logada>
</div>

<div class="main-content">
  <app-dados-alunos></app-dados-alunos>
</div>
